.ColorPickerForm {
  width: 100%;
  margin-top: 2rem;
}

.ColorPickerForm__Picker {
  width: 100% !important;
  margin-top: 2rem;
}

button.Picker__AddColorButton {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.Picker__ColorNameInput {
  width: 100%;
  height: 70px;
}
