.MiniPalette-main {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}
.MiniPalette-main:hover {
  cursor: pointer;
}

.MiniPalette-colors {
  background-color: #dae1e4;
  height: 150px;
  width: 100%;
  border-radius: 5%;
  overflow: hidden;
}

.MiniPalette-miniColor {
  height: 25%;
  width: 20%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  margin-bottom: -3.5px;
}
