.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}

.logo {
  margin-right: 5px;
  padding: 0 13px;
  font-size: 16px;
  background-color: #eceff1;
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: black;
}

/* .slider-container {

} */

.slider {
  width: 100px;
  margin: 0 10px;
  display: inline-block;
}

.slider__text {
  font-size: 14px;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover,
.rc-slider-handle {
  background-color: green;
  outline: none;
  border: 2px solid green;
  box-shadow: none;
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
}

.select-container {
  margin-left: auto;
}

.select-container__text {
  font-size: 10px !important;
}

@media only screen and (min-width: 576px) {
  .logo {
    margin-right: 10px;
    padding: 0 13px;
    font-size: 22px;
    background-color: #eceff1;
    font-family: "Source Sans Pro", sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .slider {
    width: 170px;
    margin: 0 10px;
    display: inline-block;
  }
  .slider__text {
    font-size: 17px;
  }
  .select-container__text {
    font-size: 16px !important;
  }
  .select-container {
    margin-left: auto;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .slider {
    width: 400px;
    margin: 0 10px;
    display: flex;
  }
  .slider__text {
    font-size: 17px;
    display: flex;
    min-width: 100px;
  }
}

@media only screen and (min-width: 992px) {
  .logo {
    padding: 0 13px;
    font-size: 22px;
    background-color: #eceff1;
    font-family: "Source Sans Pro", sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .slider {
    width: 340px;
    margin: 0 10px;
  }
}
