.NewPaletteForm__DrawerContainer {
  width: 90%;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.NewPaletteForm__DrawerButtons {
  width: 100%;
}

.NewPaletteForm__DrawerButton {
  width: 50%;
}
