.PaletteList-main {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #1c0433;
  background-image: url("bg.svg");
  /* background by SVGBackgrounds.com */
  overflow: scroll;
}
.PaletteList-nav-container {
  width: 65%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.PaletteList-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.PaletteList-nav-link {
  color: white;
  font-size: 1.2rem;
}
.PaletteList-palettes {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.paletteList__deleteColor {
  background-color: #bee3f8 !important;
  color: #3182ce !important
  ;
}
.paletteList__cancelColor {
  background-color: #fed7d7 !important;
  color: #e53e3e !important;
}

@media only screen and (min-width: 576px) {
  .PaletteList-palettes {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .PaletteList-palettes {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  .PaletteList-nav-container {
    width: 50%;
  }
}
