.PaletteFormNav__NavButtons {
  margin-right: 0;
}

button.PaletteFormNav__Button {
  margin: 0;
  font-size: 10px;
  padding: 6px 9px;
}

.PaletteFormNav__Title {
  font-size: 14px !important;
}

@media only screen and (min-width: 576px) {
  .PaletteFormNav__NavButtons {
    margin-right: 0.5rem;
  }
  button.PaletteFormNav__Button {
    margin: 0 0.5rem;
    font-size: 14px;
    padding: 9px 16px;
  }
  .PaletteFormNav__Title {
    font-size: 1.25rem !important;
  }
}
